/* .poke {
  font-family: 'Pokemon Solid', sans-serif;
}

.dates {
  font-family: "Proxima Nova Soft W03 Regular";
  margin-left: 3px;
} */

.container {
  text-align: center;
}

h1 {
  font-family: "Proxima Nova Soft W03 Regular";
  font-weight: bold;
  font-size: 50px;
}

i {
  margin-left: 5px;
}

.active {
  font-weight: bold;
}

