/* .poke {
  font-family: 'Pokemon Solid', sans-serif;
}

.dates {
  font-family: "Proxima Nova Soft W03 Regular";
  margin-left: 3px;
} */

.container {
  text-align: center;
}

h1 {
  font-family: "Proxima Nova Soft W03 Regular";
  font-weight: bold;
  font-size: 50px;
}

i {
  margin-left: 5px;
}

nav > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
  text-decoration: none;
}

#swipe {
  margin-right: 1%;
  border-radius: 50%;
}

#likes {
  margin-left: 1%;
  border-radius: 50%;
}

nav .active {
  font-weight: bold;
  text-decoration: underline;
}

@media (min-width: 768px) {
  nav > a:hover {
    color: #dc3545;
    background-color: white;
    transition: 0.5s;
  }
}

