<div class="profile">
  <ng-container *ngIf="this.swipedPokemon.length === this.maxNumber; else pokemonData">
    <div>
      <div>No quedan más pokémon por mostrar.</div>
      <img src="../../../assets/img/sad-pikachu.gif" alt="Gif de Pikachu llorando">
    </div>
  </ng-container>
  <ng-template #pokemonData>
    <img [src]="pokemon.image" alt="Arte oficial de {{ pokemon.name }}">
    <div class="controls">
      <i id="dislike" class="fa-solid fa-x rounded-circle p-3" (click)="dislike()" (touchend)="removeHoverStyle('dislike')"></i>
      <i class="like fa-solid fa-heart rounded-circle p-3" (click)="like()"></i>
    </div>
  </ng-template>
</div>
