.profile {
  text-align: center;
  box-shadow: 0px 0px 22px 1px rgba(0,0,0,0.1);
  background-color: white;
  border-radius: 10px;
  /* padding-bottom: 1%; */
  width: 25%;
  padding-top: 1%;
  height: 650px;
}

.loading {
  margin-top: 40%;
}

.name {
  font-family: 'ArcadeClassic', sans-serif;
  font-size: xx-large;
  font-weight: bold;
}

i {
  font-size:xx-large;
}

.like {
  color: #198754;
}

.dislike {
  color: #dc3545;
}

.like:hover {
  background-color: #198754;
  color: white;
  transition: 0.5s;
}

.dislike:hover {
  background-color: #dc3545;
  color: white;
  transition: 0.5s;
}

@media (max-width: 767px) {
  .profile {
    width: 75%;
    height: 450px;
  }

  .pokemon-artwork {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .profile {
    width: 75%;
    height: 450px;
  }

  .pokemon-artwork {
    width: 75%;
  }
}
