i {
  font-size:xx-large;
}

.likeNoHover {
  background-color: transparent;
  color: #198754;
}

#dislike {
  background-color: transparent;
  color: #dc3545;
}

.dislike-no-hover {
  background-color: transparent;
  color: #dc3545;
}

#like:hover {
  background-color: #198754;
  color: white;
}

.hovered {
  background-color: #dc3545;
  color: white;
}
